<% layout('layouts/boilerplate')%>

<section class="new-edit-form spade" id="new-edit-form">
    <div class="container mt-5">
      <div class="section-title">
        <h2>Create New Event</h2>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-8">
          <form action="/events" method="post" role="form" class="credit-form">
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input type="text" name="title" class="form-control" id="title" placeholder="Event Title" required/>
                <div class="invalid-feedback">
                  Please Enter the Events Title
                </div>
              </div>
              <div class="col-md-6 form-group">
                <input type="time" class="form-control" name="time" id="time" placeholder="Event time:" required/>
                <div class="invalid-feedback">
                  What time is the event?
                </div>
              </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="location" class="form-control" id="location" placeholder="Location:" required/>
                  <div class="invalid-feedback">
                    Where is the event?
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="date" class="form-control" name="onDate" id="onDate" placeholder="Event Date" required/>
                  <div class="invalid-feedback">
                    When is the event?
                  </div>
                </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="image" id="image" placeholder="Image URL" required/>
              <div class="invalid-feedback">
                Image makes it look better  
              </div>
            </div>
            <div class="form-group">
              <select name="type" id="type" class="form-control" placeholder="Type of Event" required>
                <option value="Birds-of-Feather">Birds of a Feather</option>
                <option value="Alumini-Webinar">Alumni Webinar</option>
                <option value="Breakout">Breakout Sessions</option>
                <option value="Paper-Discussion">Paper Discussion</option>
                <option value="Collaboration">Collaboration</option>
              </select>
              <div class="invalid-feedback">
                Please choose the type of event. 
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="applyLink" id="applyLink" placeholder="Link to Register"/>
              <div class="invalid-feedback">
                Registration Link for the Event!  
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="recordinglink" id="recordinglink" placeholder="Link to the Recording"/>
              <div class="invalid-feedback">
                Recording Links
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="para1" rows="8" placeholder="Description"></textarea>
              <div class="invalid-feedback">
                Tell them something about the Event.
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="para2" rows="8" placeholder="Description"></textarea>
              <div class="invalid-feedback">
                Tell them something about the Event.
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="para3" rows="8" placeholder="Description"></textarea>
              <div class="invalid-feedback">
                Tell them something about the Event.
              </div>
            </div>
            <div class="text-center"><button type="submit" class="site-btn">Create Event</button></div>
          </form>
          <a href="/events" class="site-btn-2">Go Back</a>
        </div>
      </div>
    </div>
</section>
