<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Links</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/posts">Projects</a></li>
                        <li><a href="/events">Events</a></li>
                        <li><a href="/newsletter">Newsletters</a></li>
                        <li><img  style="padding-top: 15px;" src="https://res.cloudinary.com/rsmanipal/image/upload/v1615985422/ResearchSoc/mit_white_ll4bne.png"></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="/#aboutus">Research Society</a></li>
                        <li><a href="/teams">Team</a></li>
                        <li><a href="/publications">Our Publications</a></li>
                    </ul>
                    <div class="item social">
                        <a href="https://www.linkedin.com/company/research-society/?originalSubdomain=in"><i class="bx bxl-linkedin"></i></a>
                        <a href="https://www.instagram.com/researchsoc/?hl=en"><i class="bx bxl-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UCK3Web6qpmEEgP3obtxDbSw"><i class="bx bxl-youtube"></i></a>
                    </div>
                </div>
                <div class="col-md-6 float-center">
                    <iframe style="filter: invert(180%)" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3881.9637195293235!2d74.79063371477467!3d13.352532090606745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbca4a7d2c4edb7%3A0x8d588d4fb81d861f!2sManipal%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1614173951024!5m2!1sen!2sin" width="100%" height="250px" style="border:none;"></iframe>
                </div>
            </div>
            <p class="copyright">&copy; Copyright 
                <strong><span>Research Society</span></strong>. All Rights Reserved. Designed by Alok Mahalka</p>
        </div>
    </footer>
</div>
