<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Links</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/posts">Projects</a></li>
                        <li><a href="/events">Events</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="/#aboutus">Research Society</a></li>
                        <li><a href="/teams">Team</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Research Society</h3>
                    <p>
                        Praesent sed lobortis mi. Suspendisse vel placerat ligula. 
                        Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus.
                        Aliquam in arcu eget velit pulvinar dictum vel in justo.
                    </p>
                </div>
                <div class="col-md-12 item social">
                    <a href="#"><i class="bx bxl-facebook"></i></a>
                    <a href="#"><i class="bx bxl-twitter"></i></a>
                    <a href="#"><i class="bx bxl-discord"></i></a>
                    <a href="#"><i class="bx bxl-instagram"></i></a>
                    <a href="#"><i class="bx bxl-youtube"></i></a>
                </div>
            </div>
            <p class="copyright">&copy; Copyright 
                <strong><span>Research Society</span></strong>. All Rights Reserved. Designed by Alok Mahalka</p>
        </div>
    </footer>
</div>
