<footer class="footer">
  <div class="container">
      <div class="footer__top">
          <div class="row">
              <div class="col-lg-6 col-md-6">
                  <div class="footer__top__logo text-white">
                      <h3>Research Society</h3>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <div class="footer__top__social">
                      <a href="#"><i class="bx bxl-facebook"></i></a>
                      <a href="#"><i class="bx bxl-twitter"></i></a>
                      <a href="#"><i class="bx bxl-discord"></i></a>
                      <a href="#"><i class="bx bxl-instagram"></i></a>
                      <a href="#"><i class="bx bxl-youtube"></i></a>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer__copyright">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <p class="footer__copyright__text">&copy; Copyright 
                    <strong><span>Research Society</span></strong>. All Rights Reserved. Designed by Alok Mahalka<i class="fa fa-heart-o"
                          aria-hidden="true"></i>
                  </p>
              </div>
          </div>
      </div>
  </div>
</footer>
