  <header id="header" class="fixed-top"> 
    <div class="container">
      <div class="logo float-left">
        <a href="/"><img src="https://res.cloudinary.com/rsmanipal/image/upload/v1615985422/ResearchSoc/RSM_Logo_mne8a2.png" alt="logo"></a>
      </div>
      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li class="drop-down pad"><a href="/">HOME</a>
            <ul>
              <li><a href="/#aboutus">About Us</a></li>
              <li><a href="/publications">Our Publications</a></li>
              <li><a href="/#contact">Contact</a></li>
            </ul>
          </li>
          <li class="pad"><a href="/teams">TEAM</a></li>
          <% if(!currentUser){ %>
            <li class="pad"><a href="/posts">PROJECTS</a></li>
          <% }else{ %> 
            <li class="drop-down pad"><a href="/posts">PROJECTS</a>
              <ul>
                <li><a href="/ideas">Have a project idea?</a></li>
              </ul>
            </li>
          <% } %> 
          <li class="pad"><a href="/events">EVENTS</a></li>
          <li class="pad"><a href="/newsletter">NEWSLETTER</a></li>
        <% if(!currentUser){ %>  
          <li class="drop-down pad"><a href="">Hello Stranger!</a>
            <ul>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
            </ul>
          </li>
        <% } else {%>
          <li class="drop-down pad"><a href="">Hello <%= currentUser.username%>!</a>
            <ul>
              <% if(currentUser.isAdmin){ %>
                <a href="/posts/new">Add New Project</a>
                <a href="/events/new">Add New Event</a>
              <% } %>
              <li><a href="/logout">Logout</a></li> 
            </ul>
          </li>
        <% } %>
        </ul>
      </nav>
    </div>
  </header><!-- End Header -->