<% layout('layouts/boilerplate')%>

<section class="hero-section">
  <div class="hero-slider owl-carousel">
    <div class="hero-item set-bg" data-setbg="img/1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <h4>Welcome to</h4>
            <h2>Research Society</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
            <a href="#" class="primary-btn">Read More</a>
          </div>
        </div>
      </div>
    </div> 
    <div class="hero-item set-bg" data-setbg="img/2.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <h4>Welcome to</h4>
            <h2>Research Society</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
            <a href="#" class="primary-btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
  <main>
    <section class="work-steps-section" id="aboutus">
      <div class="container">
        <div class="section-title text-white">
          <h2>About Us</h2>
        </div>
        <div class="row work-steps">
          <div class="col-md-4">
            <div class="work-step-box">
              <div class="ws-icon">
                <img src="img/1.png" alt="">
              </div>
              <h4>Task1</h4>
              <p>Morbi id dictum quam, ut commodo lorem. In at nisi nec arcu porttitor aliquet vitae at dui. Sed sollicitudin nulla non leo viverra. </p>
              <ul>
                <li><i class="icofont-check"></i>Vestibulum malesuada aliquet libero </li>
                <li><i class="icofont-check"></i>Aliquam erat volutpat. Morbi id dictum</li>
                <li><i class="icofont-check"></i>In at nisi nec arcu porttitor aliquet </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-step-box">
              <div class="ws-icon">
                <img src="img/2.png" alt="">
              </div>
              <h4>Task2</h4>
              <p>Morbi id dictum quam, ut commodo lorem. In at nisi nec arcu porttitor aliquet vitae at dui. Sed sollicitudin nulla non leo viverra. </p>
              <ul>
                <li><i class="icofont-check"></i>Malesuada aliquet libero </li>
                <li><i class="icofont-check"></i>Erat volutpat. Morbi id dictum</li>
                <li><i class="icofont-check"></i>In at nisi nec arcu porttitor aliquet </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-step-box">
              <div class="ws-icon">
                <img src="img/3.png" alt="">
              </div>
              <h4>Task3</h4>
              <p>Morbi id dictum quam, ut commodo lorem. In at nisi nec arcu porttitor aliquet vitae at dui. Sed sollicitudin nulla non leo viverra. </p>
              <ul>
                <li><i class="icofont-check"></i>Duam, ut commodo lorem. </li>
                <li><i class="icofont-check"></i>Smod sit amet mollis quis, vestib</li>
                <li><i class="icofont-check"></i>Aamet mollis quis, vestibulum quis </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contact-section spad" id="contact">
      <div class="container">
          <div class="row">
              <div class="col-lg-5">
                  <div class="contact-text">
                      <h4>Contacts Us</h4>
                      <div class="ct-item">
                          <div class="ci-icon">
                              <span class="bx bx-map"></span>
                          </div>
                          <div class="ci-text">
                              <ul>
                                  <li>
                                      <span>Our Location</span>
                                      MIT, Manipal
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="ct-item">
                          <div class="ci-icon">
                              <span class="bx bx-phone"></span>
                          </div>
                          <div class="ci-text">
                              <ul>
                                  <li>
                                      <span>Phone:</span>
                                      +91 7777777777
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="ct-item">
                          <div class="ci-icon">
                              <span class="bx bx-envelope"></span>
                          </div>
                          <div class="ci-text">
                              <ul>
                                  <li>
                                      <span>Mail</span>
                                      bleh@gmail.com
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-7">
                  <div class="contact-option">
                      <h4>Leave A Comment</h4>
                      <form action="/sendemail" method="post" role="form" class="comment-form contact-form">
                          <div class="row">
                              <div class="col-lg-6">
                                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" >
                              </div>
                              <div class="col-lg-6">
                                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                              </div>
                              <div class="col-lg-12">
                                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                              </div>
                              <div class="col-lg-12">
                                  <textarea class="form-control" name="message" placeholder="Message"></textarea>
                                  <button type="submit" class="site-btn">Send Message</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section>

  </main><!-- End #main -->
