<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/login.css" />
    <title>Join Us!</title>
    <link href="/img/Rlogo.png" rel="icon">
  <body>
    <div class="container">
      <% if(error && error.length > 0){ %>
        <hr>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %>
      <% if(success && success.length > 0){ %>
        <hr>  
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
      <% } %>  
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/login" method="POST" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="username" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Password" />
            </div>
            <input type="submit" value="Login" class="btn solid" />
          </form> 
          <form action="/register" method="POST" class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field col-md-6">
              <i class="fas fa-user"></i>
              <input type="text" name="username" placeholder="Username" />
            </div>
            <div class="input-field col-md-6">
              <i class="fas fa-envelope"></i>
              <input type="email" name="email" placeholder="Email" />
            </div>
            <div>
              Are you an MITian?
              <input type="checkbox" name="isMIT" id="checkbox1" value="true" />
            </div>
            <div class="input-field" id="showthis1">
              <i class="fa fa-envelope"></i> 
              <input type="text" name="emailMIT" placeholder="   Learners ID" >
            </div>
            <div class="input-field col-md-6">
              <i class="fas fa-address-book"></i>
              <input type="text" name="regNo" placeholder="Registration No." />
            </div>
            <div>
              Are you an Admin?
              <input type="checkbox" name="checkbox" id="checkbox2" value="true" />
            </div>
            <div class="input-field" id="showthis2">
                <i class="fa fa-lock"></i> 
                <input type="text" name="adminCode" placeholder="Admin Code">
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Password" />
            </div>
            <input type="submit" class="btn" value="Sign up" />          
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <br>
            <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="img/playpress.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <br>
            <button class="btn transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>
          <img src="img/rocket.svg" class="image" alt="" />
        </div>
      </div>
    </div>

    <script src="js/login.js"></script>
  </body>
</html>