<% layout('layouts/boilerplate')%>

  <main id="main">
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>NEWSLETTER</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Newsletter</li>
          </ol>
        </div>
      </div> 
    </section>
    <section class="newsletter spade">
      <div class="container">
        <% if(error && error.length > 0){ %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <%} else if(success && success.length > 0){ %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <%} %>
        <div class="section-title">
          <h2>OUR NEWSLETTERS</h2>
          <form action="/subscribe" method="POST">
            <input type="text" name="email" placeholder="Enter your email to subscribe">&nbsp;&nbsp;&nbsp;
            <button type="submit"><i class="icofont-location-arrow"></i></button>
          </form>
        </div>
        <div class="row newsletter-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="200">
          <div class="col-lg-4 col-md-6">
            <div class="newsletter-item">
              <img src="img/NewsLetter1.png" class="img-fluid">
              <div class="newsletter-info">
                <h3><a href="https://drive.google.com/file/d/1cuCF0SwX3tXooIcFp46fyIe0EZrl_i2H/view?usp=drivesdk">The SARS CoV- 2 Virus</a></h3>
              </div>
            </div>
          </div>
        </div><br>
        <div class="instagram">
          <h3 class="text-white">OUR INSTAGRAM FEED</h3>
          <br>
          <br>
          <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/CMpAngcB9iE/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="12" style=" background:#0000; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
            <div style="padding:16px;">
               <a href="https://www.instagram.com/p/CMpAngcB9iE/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank">
               </a>
            </div>
         </blockquote>
         <script async src="//www.instagram.com/embed.js"></script>
        </div>
      </div>
    </section> 
      
  </main>