<% layout('layouts/boilerplate')%>

  <main id="main">
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>OUR PUBLICATIONS</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Our Publications</li>
          </ol>
        </div>
      </div> 
    </section>
    <section class="newsletter spade">
      <div class="container">
        <div class="section-title">
          <h2>OUR PUBLICATIONS</h2>
        </div>
        <div>
          <h3 class="text-white">PUBLISHED</h3>
          <div class="table-responsive-md">
            <table class="table table-borderless table-dark">
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>A. Singh, S. R Nayak K and B. Ganesan. "Re-imagining GNN Explanations with ideas from Tabular Data", Workshop on Theoretic Foundation, Criticism, and Application Trend of Explainable AI, ICML 2021.</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>R. Naidu, S. S. Kundu, H. Wang, A. Ghosh, S. R. Nayak, Y. Maurya and J. Michael. "Improved variants of Score-CAM via Smoothing and Integrating", RCV Workshop, CVPR, 2021.</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>R. Naidu, F. Mireshghalla, H. Wang, A. Priyanshu, A. Kumar and S. Kotti. "When Differential Privacy Meets Interpretability: A Case Study", RCV Workshop, CVPR, 2021.</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>A. Priyanshu and R. Naidu, "FedPandemic: A Cross-Device Federated Learning Approach Towards Elementary Prognosis of Diseases During a Pandemic", DPML and MLPCP Workshops, ICLR, 2021.</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Gokul P., H. Kulkarni and P. S. Baweja, "An improved PSO approach for multi-robot target search", Springer book on Robot Operating System, Studies in Computational Intelligence Series, 2021.</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>G.Gupta*, K.Ramesh*, S.Singh, "Evaluation of Gender Bias in Hindi-English Machine Translation", Proceedings of the Third Workshop on Gender Bias in Natural Language Processing, co-located with ACL-IJCNLP '21, Bangkok, Thailand</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>A. Dutta, R. Nayak, M Selvakumar et al, Graphite/Copper Nanoparticle-Based High-Performance Micro Supercapacitor with Porous Wet Paper-Based PVA-PVP Blend Polymer Electrolyte, Materials: Letters 2021.</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>T. Mateti, S. Aswath and A. Laha, "Recent Advances in Electrospun Allopathic Anti Cancer Drug Delivery Systems", <em>International Conference on Cutting-edge Research in Material Science and Chemistry (CRMSC)</em>>, MUJ, 2021.</td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>A. Dutta, D. Rajasekharan and Y. S. Chauhan, “Compact Model Parameter Extraction Using Modular Q Learning for Nano - Scale Tran-sistors”, <em>IEEE International Conference on Emerging Electronics (ICEE)</em>, Delhi, November, 2020.</td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>K. Ramesh, T. Anand, "Outcomes of Coming Out: Analyzing stories of LGBTQ+", Proceedings of the The Fourth Widening Natural Language Processing Workshop, co-located with the ACL'20 conference, Seattle, USA</td>
                </tr>
                <tr>
                  <th scope="row">11</th>
                  <td>T. Anand, K. Ramesh, S. Singh, "Out of the Closet: Lexicon Based Sentiment Analysis on Tweets about Homosexuality", <em>IEEE Region 10 International Conference TENCON</em>, 2019, Kerala, India</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section> 
      
  </main>