<% layout('layouts/boilerplate')%>

  <main id="main">
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>OUR PUBLICATIONS</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Our Publications</li>
          </ol>
        </div>
      </div> 
    </section>
    <section class="newsletter spade">
      <div class="container">
        <div class="section-title">
          <h2>OUR PUBLICATIONS</h2>
        </div>
        <div>
          <h3 class="text-white">PUBLISHED</h3>
          <div class="table-responsive-md">
            <table class="table table-borderless table-dark">
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>A. Dutta, R. Nayak, M Selvakumar et al, Graphite/Copper Nanoparticle-Based High-Performance Micro Supercapacitor with Porous Wet Paper-Based PVA-PVP Blend Polymer Electrolyte, Materials: Letters 2021.</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>T. Mateti, S. Aswath and A. Laha, "Recent Advances in Electrospun Allopathic Anti Cancer Drug Delivery Systems", <em>International Conference on Cutting-edge Research in Material Science and Chemistry (CRMSC)</em>>, MUJ, 2021.</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>A. Dutta, D. Rajasekharan and Y. S. Chauhan, “Compact Model Parameter Extraction Using Modular Q Learning for Nano - Scale Tran-sistors”, <em>IEEE International Conference on Emerging Electronics (ICEE)</em>, Delhi, November, 2020.</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>K. Ramesh, T. Anand, "Outcomes of Coming Out: Analyzing stories of LGBTQ+", Proceedings of the The Fourth Widening Natural Language Processing Workshop, co-located with the ACL'20 conference, Seattle, USA</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>T. Anand, K. Ramesh, S. Singh, "Out of the Closet: Lexicon Based Sentiment Analysis on Tweets about Homosexuality", <em>IEEE Region 10 International Conference TENCON</em>, 2019, Kerala, India</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="pt-3">
          <h3 class="text-white">UNDER REVIEW</h3>
          <div class="table-responsive-md">
            <table class="table table-borderless table-dark">
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>A. Bonagiri, D. Biswas and V.S. Chakravarthy, "Biological Gait Patterns Using a Network of Vanadium Dioxide Nano-oscillators",<em>The International Joint Conference on Neural Networks (IJCNN)</em> Shenzen, China, 2021.</td>
                </tr>
              </tbody>
            </table>
          </div> 
        </div>
      </div>
    </section> 
      
  </main>