<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link href="/img/Rlogo.png" rel="icon">
	<link rel="stylesheet" type="text/css" href="css/login.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="img/wave.png">
	<div class="container">
		<div class="img">
			<img src="img/bg.svg">
		</div>
		<div class="login-content">
			<form action="/register" method="POST" >
				<img src="img/avatar.svg">
				<h2 class="title">Register</h2>
           		<div class="input-div one">
           		  <div class="i">
           		  	<i class="fas fa-user"></i>
           		  </div>
           		  <div class="div">
           		  	<h5>Username</h5>
                  <input type="text" name="username" class="input" required>
           		  </div>
              </div>
              <div class="input-div one">
                <div class="i">
                  <i class="fas fa-envelope"></i>
                </div>
                <div class="div">
                  <h5>Email</h5>
                  <input type="email" name="email" class="input" required>
                </div>
              </div>
              <div>
                Are you an MITian?
                <input type="checkbox" name="isMIT" id="checkbox1" value="true" />
              </div>
              <div class="input-div one" id="showthis1">
                <div class="i">
                  <i class="fas fa-envelope"></i>
                </div>
                <div class="div">
                  <h5>LearnersId</h5>
                  <input type="email" name="emailMIT" class="input" >
                </div>
              </div>
              <div class="input-div one">
                <div class="i">
                  <i class="fas fa-address-book"></i>
                </div>
                <div class="div">
                  <h5>Registration No.</h5>
                  <input type="text" name="regNo" class="input">
                </div>
              </div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" name="password" class="input" required>
            	   </div>
            	</div>
            	<a href="/login">Login Here</a>
            	<input type="submit" class="btn" value="Register">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/login.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
</body>
</html>

