<% layout('layouts/boilerplate')%>

  <main id="main">
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Our Team</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Team</li>
          </ol>
        </div>
      </div> 
    </section>

      <section class="team">
        <div class="py-5 team1">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-7 text-center section-title">
                <h2>EXECUTIVE BOARD</h2>
              </div>
            </div>
            <div class="row team-members">
              <div class="col-lg-12">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="offset-lg-1 col-md-2 pro-pic">
                      <img src="/img/Achintya.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="https://www.linkedin.com/in/achintya-dutta-a903a3180" class="text-decoration-none d-block text-white px-1"><i class="icofont-linkedin"></i></a></li>
                          <li class="list-inline-item"><a href="https://scholar.google.com/citations?hl=en&user=B2APbvIAAAAJ" class="text-decoration-none d-block text-white px-1"><i class="icofont-google-plus"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">ACHINTYA DUTTA</h6>
                        <span>CO-PRESIDENT</span>
                        <em><h6>Nanoelectronics, Nanotechnology, BSIM Compact Modelling, Semiconductor Materials, Modern FET Devices, Condensed Matter Physics, Precision Sensors.</h6></em>
                        <p>If you support the same team as him, consider him your bestie. Equipped with an intense fascination with the Nano world, he can talk for hours about how mathematics is underrated. 
                          PS: Known to sneer at anybody who confuses tools with subjects (OpenCV is not Computer Vision).                          
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>
              <div class="col-lg-12">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row flex-column-reverse flex-md-row no-gutters">
                    <div class="offset-lg-1 col-md-9">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">KRITHIKA RAMESH</h6>
                        <span>CO-PRESIDENT</span>
                        <em><h6>Natural language processing, Reinforcement learning, Mathematical modeling</h6></em>
                        <p>With a keen interest in medieval fantasy, RPGs, Coke and all things AI, she also loves hammering away at her keyboard, much to the exasperation of the rest of the team. 
                        </p>
                      </div>
                    </div>
                    <div class="col-md-2 pro-pic">
                      <img src="/img/K.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="https://www.linkedin.com/in/krithika-ramesh-06a22a16b/ " class="text-decoration-none d-block text-white px-1"><i class="icofont-linkedin"></i></a></li>
                          <li class="list-inline-item"><a href="https://github.com/stolenpyjak" class="text-decoration-none d-block text-white px-1"><i class="icofont-github"></i></a></li>
                          <li class="list-inline-item"><a href="https://stolenpyjak.github.io/" class="text-decoration-none d-block text-white px-1"><i class="icofont-world"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="offset-lg-1 col-md-2 pro-pic">
                      <img src="/img/Ankita.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="https://www.linkedin.com/in/ankita-ghosh-619095190/" class="text-decoration-none d-block text-white px-1"><i class="icofont-linkedin"></i></a></li>
                          <li class="list-inline-item"><a href="https://github.com/ankitaghosh9 " class="text-decoration-none d-block text-white px-1"><i class="icofont-github"></i></a></li>
                          <li class="list-inline-item"><a href="https://www.instagram.com/blotting.paper/" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">ANKITA GHOSH</h6>
                        <span>TECHNICAL HEAD</span>
                        <em><h6>Computer Vision, Deep Learning, Image Processing</h6></em>
                        <p>She’s easily lured by blue, is an ardent believer of Octopus Supremacy, an occasional writer and a full time fangirl- sometimes over Taylor Swift and other times over crime shows.</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>

              <div class="col-lg-12">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row flex-column-reverse flex-md-row no-gutters">
                    <div class="offset-lg-1 col-md-9">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">SHUBA MURTHY</h6>
                        <span>GENERAL SECRETARY</span>
                        <em><h6>Propulsion Mechanisms, Chemical Kinetics of Propellants</h6></em>
                        <p>A Space Cadet of the truest form, an avid bread enthusiast and a Bharatnatyam dancer. You can count on her for the best music recommendations to suit every mood and spamming you with pictures of the pride and joy of our team,her doggo, Leo.</p>
                      </div>
                    </div>
                    <div class="col-md-2 pro-pic">
                      <img src="/img/Shuba.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="https://www.linkedin.com/in/shuba-murthy-9464b01aa" class="text-decoration-none d-block text-white px-1"><i class="icofont-linkedin"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>

            <div class="row justify-content-center mt-3">
              <div class="col-md-7 text-center section-title">
                <h2 class="mb-3">TECHNICAL TEAM</h2>
              </div>
            </div>
            <div class="row team-members">
              <div class="col-lg-12">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="offset-lg-1 col-md-2 pro-pic">
                      <img src="/img/Aditya.jpg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="https://adigunturu.com/" class="text-decoration-none d-block text-white px-1"><i class="icofont-world"></i></a></li>
                          <li class="list-inline-item"><a href="https://www.linkedin.com/in/adigunturu/" class="text-decoration-none d-block text-white px-1"><i class="icofont-linkedin"></i></a></li>
                          <li class="list-inline-item"><a href="https://github.com/adigunturu/" class="text-decoration-none d-block text-white px-1"><i class="icofont-github"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">ADITYA GUNTURU</h6>
                        <span>EXPERTISE HEAD - DESIGN AND PSYCHOLOGY</span>
                        <em><h6>Human-Computer Interaction, Gamification, Consumer behavior, Interaction Design, Usability and User Experience</h6></em>
                        <p>If you see him petting a dog, what he’s actually doing is amassing a doggo army to take over the world with him. He also always has the perfect sticker ready to send in every chat, and if you ask nicely with enough star wars references, he might even agree to be your personal sticker dealer.</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>

              <div class="col-lg-12">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row flex-column-reverse flex-md-row no-gutters">
                    <div class="offset-lg-1  col-md-9">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">AKHIL BONAGIRI</h6>
                        <span>EXPERTISE HEAD - NANOELECTRONICS</span>
                        <em><h6>Nanomaterials, Emerging Beyond-CMOS Nanodevices, Condensed Matter Physics, Neuromorphic Computing</h6></em>
                        <p>Aside from research, his interests lie in badminton and other sports.</p>
                      </div>
                    </div>
                    <div class="col-md-2 pro-pic">
                      <img src="/img/Akhil.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="LinkedIn:https://www.linkedin.com/in/akhilbonagiri/" class="text-decoration-none d-block text-white px-1"><i class="icofont-linkedin"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>
            <div class="row team-members">
              <div class="col-lg-12">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="offset-lg-1 col-md-2 pro-pic">
                      <img src="/img/gokul.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="https://github.com/gokulp01" class="text-decoration-none d-block text-white px-1"><i class="icofont-github"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">GOKUL P.</h6>
                        <span>EXPERTISE HEAD - ROBOTICS</span>
                        <em><h6>Probabilistic robotics, path planning in probabilistic and deterministic environments for autonomous robots, multi-agent systems</h6></em>
                        <p>Books, chess, robots and a sleepy conscience sums up his life. He manages to find a silver lining in any situation and is also the most patient person in the world. Legend has it that he once waited 1.5 hrs for his Uber to arrive.</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>

              <div class="col-lg-12">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row flex-column-reverse flex-md-row no-gutters">
                    <div class="offset-lg-1 col-md-9">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">SHAMANTH R NAYAK K</h6>
                        <span>EXPERTISE HEAD - ARTIFICIAL INTELLIGENCE</span>
                        <em><h6>Natural Language Processing, XAI, GNNs, Link prediction</h6></em>
                        <p>Nocturnal by nature, he is always open to talks on Satan and his minions at 3 am in the night. Often chided by the rest of his team for his ‘contacts’ in the administration, you can hit him up for ouija board sessions and geeking out about Marvel comics anytime.</p>
                      </div>
                    </div>
                    <div class="col-md-2 pro-pic">
                      <img src="/img/Shamanth.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="https://www.linkedin.com/in/shamanth-r-nayak-k-6b482a169" class="text-decoration-none d-block text-white px-1"><i class="icofont-linkedin"></i></a></li>
                          <li class="list-inline-item"><a href="https://github.com/ShamanthNyk" class="text-decoration-none d-block text-white px-1"><i class="icofont-github"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>
            <div class="row team-members">
              <div class="col-lg-12">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="offset-lg-1 col-md-2 pro-pic">
                      <img src="/img/surabhi.jpg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="Social Media: www.linkedin.com/in/surabhiaswath" class="text-decoration-none d-block text-white px-1"><i class="icofont-linkedin"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">SURABHI ASWATH</h6>
                        <span>EXPERTISE HEAD - CHEMICAL ENGINEERING</span>
                        <em><h6>Drug Delivery Systems using Nanofibers, Anticancer Drug Delivery, Molecular Dynamics Simulation.</h6></em>
                        <p> A cricket buff, chai lover, and an ambivert overthinker. The typical girl-with-white-labcoat-mixing-chemicals is not how you'll see her.
                          P.S: Warning! Incoming savage alert and sharp ripostes.                          
                          </p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>

              <div class="col-lg-12">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row flex-column-reverse flex-md-row no-gutters">
                    <div class="offset-lg-1 col-md-9">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">SYED MOHAMMED MUSHARRAF</h6>
                        <span>EXPERTISE HEAD - AERONAUTICS</span>
                        <em><h6>Aerodynamics, fluid Mechanics, Computational Fluid Dynamics, Material Science, FEM</h6></em>
                        <p>A fun loving Hyderabadi that you can come to anytime you want to talk about recent developments in aerodynamics or fluid mechanics!</p>
                      </div>
                    </div>
                    <div class="col-md-2 pro-pic">
                      <img src="/img/syed.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="https://www.linkedin.com/in/syed-mohammed-musharraf-5b84a3164/" class="text-decoration-none d-block text-white px-1"><i class="icofont-linkedin"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>
            <div class="row team-members">
              <div class="col-lg-12">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="offset-lg-1 col-md-2 pro-pic">
                      <img src="/img/yuvraj.jpg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="https://www.linkedin.com/in/yuvraj-rallapalli/" class="text-decoration-none d-block text-white px-1"><i class="icofont-linkedin"></i></a></li>
                          <li class="list-inline-item"><a href="https://www.instagram.com/u._.v._.r/" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">YUVRAJ RALLAPALLI</h6>
                        <span>EXPERTISE HEAD - BIOTECHNOLOGY</span>
                        <em><h6>Oncology, Molecular biology, Bio-Nanotechnology</h6></em>
                        <p>Friendly neighbourhood researcher who tosses a pipette to your witcher and occasionally serves a tennis ball. His natural habitat is the animal lab, where he takes care of cancer cells and Skrillex music too.</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>

            <div class="row justify-content-center mb-3">
              <div class="col-md-7 text-center section-title">
                <h2 class="mb-3">MEDIA & WEB-DEV</h2>
              </div>
            </div>
            <div class="row">
              <div class="offset-lg-3 col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/Alok.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="https://github.com/AlokMahalka" class="text-decoration-none d-block text-white px-1"><i class="icofont-github"></i></a></li>
                          <li class="list-inline-item"><a href="https://www.instagram.com/alokmahalka/" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">ALOK MAHALKA</h6>
                        <span>WEB DEVELOPER</span>
                        <p>When he's not busy figuring out the latest technology and frameworks, he’s the one-man army behind our website who loves to watch anime, write poetry and is a real foodie.</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>
              
            </div>
            <div class="row team-members">
              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/Neeharika.png" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="https://www.instagram.com/akiraheen_a28/?hl=en" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">NEEHARIKA A.</h6>
                        <span>SOCIAL MEDIA</span>
                        <p>She always has a witty line in hand, and her creative ability when it comes to puns is unmatched. Spends half her time with her nose buried in fantasy novels. The other half is spent waiting for .psd files to load, though they're well worth it if the design is clean and minimal- just the way she likes it.</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>

              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/AnkitaS.jpg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="https://www.instagram.com/ankitashenai/" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="https://www.behance.net/ankitashenai" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">ANKITA SHENAI</h6>
                        <span>ARTIST</span>
                        <p>A creative individual, fuelled by coffee and daydreams of travel adventures. Give her a brush and she’ll transform her ideas into a reality.</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>
            <div class="row team-members">
              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/Ashwin.jpg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="https://instagram.com/art_pod_20?igshid=17rxkdydvnhln" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">ASWIN CHANDER</h6>
                        <span>SOCIAL MEDIA</span>
                        <p>A fun guy who enjoys designing , binge watching and sleeping. He is a people person through and through. We would be nowhere if not for his keen eye, sincerity and knack for making amazing digital creations.</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>

              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/Nandini.jpg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="https://linktr.ee/nandiniproothi" class="text-decoration-none d-block text-white px-1"><i class="icofont-tree"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">NANDINI PROOTHI</h6>
                        <span>SOCIAL MEDIA</span>
                        <p>An inquisitive little being. She’s fascinated by design, technology, and poetry. Spends most of her time listening to music and writing. On a normal day, you’d find her sipping coffee far away from the humans.</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>

            <div class="row justify-content-center mb-3">
              <div class="col-md-7 text-center section-title">
                <h2 class="mb-3">SOCIETY MEMBERS</h2>
              </div>
            </div>
            <div class="container">
              <div id="accordion" class="panel-group">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="panel">
                      <div class="panel-heading">
                      <h4 class="panel-title">
                        <a href="#panelBodyZero" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Artificial Intelligence</a>
                        </h4>
                      </div>
                      <div id="panelBodyZero" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-lg-6">
                              <ul>
                                <li>Abhiraj Tiwari</li>
                                <li>Aleti Vardhan</li>
                                <li>Aman Priyanshu</li>
                                <li>Harsh Rathod</li>
                                <li>Sahil Khose</li>
                                <li>Sameer Saxena</li>
                                <li>Saumit Paul</li>
                                <li>Sudarshan Sivakumar</li>
                              </ul>
                            </div>
                            <div class="col-lg-6">
                              <ul>
                                <li>M Simha</li>
                                <li>Nipuna Chhabra</li>
                                <li>Parna Chowdhury</li>
                                <li>Praatibh Surana</li>
                                <li>Supriti Vijay</li>
                                <li>Trisha Celine Anil</li>
                                <li>V Manushree</li>
                                <li>Mirza Yusuf Baig</li>
                              </ul>
                            </div>
                          </div>  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="panel">
                      <div class="panel-heading">
                      <h4 class="panel-title">
                        <a href="#panelBodyOne" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Chemical Engineering</a>
                        </h4>
                      </div>
                      <div id="panelBodyOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <ul>
                            <li>Bharghav Rao</li>
                            <li>Sri Moulya</li>
                            <li>Gaurav Agrawal</li>
                            <li>Nimeesha Suresh Vellara</li>
                          </ul>  
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="panel">
                      <div class="panel-heading">
                      <h4 class="panel-title">
                        <a href="#panelBodyTwo" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Robotics</a>
                        </h4>
                      </div>
                      <div id="panelBodyTwo" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <ul>
                            <li>Ashwin Mani</li>
                            <li>Tanaya Amit Gupte</li>
                            <li>Paramjit Singh Baweja</li>
                            <li>Akshat Pandey</li>
                            <li>Stephen Eric Nadar</li>
                            <li>Shreesh Tripathi</li>
                          </ul> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="panel">
                      <div class="panel-heading">
                      <h4 class="panel-title">
                        <a href="#panelBodyThree" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Biomed</a>
                        </h4>
                      </div>
                      <div id="panelBodyThree" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <ul>
                            <li>Varsha J.A.</li>
                          </ul>  
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="panel">
                      <div class="panel-heading">
                      <h4 class="panel-title">
                        <a href="#panelBodyFour" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Electronics</a>
                        </h4>
                      </div>
                      <div id="panelBodyFour" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <ul>
                            <li>Aditya Nirmale</li>
                          </ul>  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="panel">
                      <div class="panel-heading">
                      <h4 class="panel-title">
                        <a href="#panelBodyFive" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Design & Psychology</a>
                        </h4>
                      </div>
                      <div id="panelBodyFive" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <ul>
                            <li>Shreya Sharma</li>
                            <li>Abhinandan Maiti</li>
                          </ul>  
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="panel">
                      <div class="panel-heading">
                      <h4 class="panel-title">
                        <a href="#panelBodySix" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Physics</a>
                        </h4>
                      </div>
                      <div id="panelBodySix" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <ul>
                            <li>Dhyan Gandhi</li>
                            <li>Shrey Deshmukh</li>
                          </ul>  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="panel">
                      <div class="panel-heading">
                      <h4 class="panel-title">
                        <a href="#panelBodySeven" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Aeronautical</a>
                        </h4>
                      </div>
                      <div id="panelBodySeven" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <ul>
                            <li>Ashwin Disa</li>
                            <li>Aravinda Raman</li>
                          </ul>  
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="panel">
                      <div class="panel-heading">
                      <h4 class="panel-title">
                        <a href="#panelBodyEight" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Sustainable Energy</a>
                        </h4>
                      </div>
                      <div id="panelBodyEight" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <ul>
                            <li>Shresth Singh</li>
                            <li>Calvin Noronha</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </main>
