<% layout('layouts/boilerplate')%>

  <main id="main">
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Our Team</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Team</li>
          </ol>
        </div>
      </div> 
    </section>

      <section class="team">
        <div class="py-5 team1">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-7 text-center section-title">
                <h2 class="mb-3">EXECUTIVE BOARD</h2>
              </div>
            </div>
            <div class="row team-members">
              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/Achintya.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>

              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/K.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/Ankita.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>

              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/Shuba.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>

            <div class="row justify-content-center mt-3">
              <div class="col-md-7 text-center section-title">
                <h2 class="mb-3">TECHNICAL TEAM</h2>
              </div>
            </div>
            <div class="row team-members">
              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/Aditya.jpg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>

              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/Akhil.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>
            <div class="row team-members">
              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/gokul.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>

              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/Shamanth.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>
            <div class="row team-members">
              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/surabhi.jpg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>

              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/syed.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>
            <div class="row team-members">
              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/yuvraj.jpg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>

              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/gerry.png" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/gerry.png" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>

              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/gerry.png" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>

            <div class="row justify-content-center mb-3">
              <div class="col-md-7 text-center section-title">
                <h2 class="mb-3">MEDIA/WEB-DEV</h2>
              </div>
            </div>
            <div class="row team-members">
              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/Alok.jpeg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>

              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/AnkitaS.jpg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>
            <div class="row team-members">
              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/Ashwin.jpg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>

              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/Nandini.jpg" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/Neeharika.png" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>

              <div class="col-lg-6">
                <div class="card border-0 mb-4">
                  <!-- Row -->
                  <div class="row no-gutters">
                    <div class="col-md-4 pro-pic">
                      <img src="/img/gerry.png" class="teamimg rounded-circle z-depth-1">
                      <div class="card-img-overlay">
                        <ul class="list-inline position-relative text-center">
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="icofont-behance"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="pr-3 pl-3 pb-3 pb-2">
                        <h6 class="font-weight-medium">JOHN DOE</h6>
                        <span>Position</span>
                        <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
                      </div>
                    </div>
                  </div>
                  <!-- Row -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </main>
