/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #121212;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 500;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 18px;
	color: #e5ddf3;
	line-height: 1.8;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}
a{
  color: #f0f9ff;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

#main{
  margin-top: 80px;
}

.site-btn {
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	padding: 10px 34px;
	display: inline-block;
	background: #0a0119;
	border: 1px solid #0a0119;
  border-radius: 5%;
}

.site-btn-2 {
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
  display: inline-block;
  margin-right: 11px;
  padding: 8px 15px 7px;
  margin-bottom: 5px;
  background: rgba(255, 255, 255, 0.1);
}

.spad {
	padding-top: 75px;
	padding-bottom: 100px;
}
.spade {
	padding-top: 50px;
	padding-bottom: 50px;
}

/*---------------------
Helper CSS
 -----------------------*/

 .section-title {
	text-align: center;
  margin-bottom: 25px;
  padding-top: 14px;
}

.section-title-smol{
  text-align: center;
  margin-bottom: 8px;
  padding-top: 25px;
}

.section-title h2 {
	font-size: 45px;
	color: #ffffff;
	font-weight: 500;
}

.section-title-smol h2 {
	font-size: 35px;
	color: #ffffff;
	font-weight: 500;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #00007a;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #010174;
  transition: background 0.2s ease-in-out;
}

.table-dark{
  background-color:#222222ef;
  opacity: 0.8;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header{
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #0a0119;
}

#header nav .pad{
  padding: 20px 0 0;
}

#header nav img{
  padding:7px 0 5px; 
  width: 63%;
}

#header .logo{
  padding: 2.5px 0;
}

#header.header-transparent {
  background: none;
}

#header.header-scrolled {
  background: #0a0119;
  height: 72px;
}

#header.header-scrolled nav .pad{
  padding: 17px 0 0;
}

#header.header-scrolled .logo{
  padding: 1px 0;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 70px;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #03DAC6;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  border-radius: 10px;
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 15px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 5px 0;
  background: lightgrey;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 125px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
  color: #000000;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #003B30;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: #121212;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 300;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  background-color: #0d0d0d;
  color: #03DAC6;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa0";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(56, 57, 58, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
  z-index: 9998;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-item {
	height: 500px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center; 
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	position: relative;
	padding-top: 140px;
}

.hero-item:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #1c1c1ce1;
	opacity: 0.9;
	z-index: 1;
}

.hero-item .container {
	position: relative;
	z-index: 9;
}

.hero-item h4 {
	font-size: 48px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 15px;
}
.hero-item h2 {
	font-size: 64px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 15px;
}

.about{
  background: #1c1c1c;
	padding: 85px 0 25px;
  overflow: hidden;
  opacity: 0.95;
}

.about .content h3 {
  font-weight: 400;
  font-size: 26px;
}

.about .content p {
  color: #f3f8fa;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.5;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/****************************************************************************************************
SERVICES
****************************************************************************************************/
.fact {
  background: #1c1c1c;
	padding: 20px 0 50px;
  overflow: hidden;
  opacity: 0.95;
}

.fact .fact-item {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  padding: 30px 5px 25px 5px;
  text-align: center;
  background: #1c1c1c;
  border: 1px solid transparent;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
  transition: .3s;
  border-radius: 15px;
}
.fact .fact-item:hover {
  border-color: rgba(0, 0, 0, .1);
  box-shadow: none;
}

.fact .fact-item img {
  max-height: 75px;
  margin-bottom: 5px;
}
.fact .fact-item h2 {
  font-weight: 500;
  margin: 10px 0 5px 0;
  font-size: 28px;
  color: #fff;
}

.fact .fact-item p{
  font-size: 16px;
  line-height: 24px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact-section {
  background: #222222ef;
}

.contact-text h4 {
	color: #ffffff;
	font-weight: 500;
	margin-bottom: 45px;
}

.contact-text .ct-item {
	overflow: hidden;
	margin-bottom: 15px;
}

.contact-text .ct-item .ci-icon {
	width: 74px;
	height: 74px;
	text-align: center;
	line-height: 90px;
	border-radius: 50%;
	background: #393939;
	float: left;
	margin-right: 26px;
}

.contact-text .ct-item .ci-icon span {
	color: #ffffff;
	font-size: 30px;
}

.contact-text .ct-item .ci-text {
	overflow: hidden;
	margin-top: 8px;
}

.contact-text .ct-item .ci-text ul li {
	list-style: none;
	font-size: 18px;
	color: #ffffff;
}

.contact-text .ct-item .ci-text ul li span {
	display: block;
	color: #b3b3b3;
}

.contact-option h4 {
	color: #ffffff;
	font-weight: 500;
	margin-bottom: 45px;
}

.contact-form input {
	height: 50px;
	width: 100%;
	border: none;
	font-size: 16px;
	color: #b3b3b3;
	padding-left: 20px;
	background: #393939;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 30px;
}

.contact-form input::-webkit-input-placeholder {
	color: #b3b3b3;
}

.contact-form input::-moz-placeholder {
	color: #b3b3b3;
}

.contact-form input:-ms-input-placeholder {
	color: #b3b3b3;
}

.contact-form input::-ms-input-placeholder {
	color: #b3b3b3;
}

.contact-form input::placeholder {
	color: #b3b3b3;
}

.contact-form input:focus {
	background: #c5c5c5;
	color: #0d0a27;
}

.contact-form input:focus::-webkit-input-placeholder {
	color: #0d0a27;
}

.contact-form input:focus::-moz-placeholder {
	color: #0d0a27;
}

.contact-form input:focus:-ms-input-placeholder {
	color: #0d0a27;
}

.contact-form input:focus::-ms-input-placeholder {
	color: #0d0a27;
}

.contact-form input:focus::placeholder {
	color: #0d0a27;
}

.contact-form textarea {
	width: 100%;
	border: none;
	font-size: 16px;
	color: #b3b3b3;
	padding-left: 20px;
	background: #393939;
	height: 110px;
	padding-top: 12px;
	resize: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 45px;
}

.contact-form textarea::-webkit-input-placeholder {
	color: #b3b3b3;
}

.contact-form textarea::-moz-placeholder {
	color: #b3b3b3;
}

.contact-form textarea:-ms-input-placeholder {
	color: #b3b3b3;
}

.contact-form textarea::-ms-input-placeholder {
	color: #b3b3b3;
}

.contact-form textarea::placeholder {
	color: #b3b3b3;
}

.contact-form textarea:focus {
	background: #c5c5c5;
	color: #0d0a27;
}

.contact-form textarea:focus::-webkit-input-placeholder {
	color: #0d0a27;
}

.contact-form textarea:focus::-moz-placeholder {
	color: #0d0a27;
}

.contact-form textarea:focus:-ms-input-placeholder {
	color: #0d0a27;
}

.contact-form textarea:focus::-ms-input-placeholder {
	color: #0d0a27;
}

.contact-form textarea:focus::placeholder {
	color: #0d0a27;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#0a0119;
}

.footer-dark h3 {
  color: #ffffff;
	font-weight: 300;
  font-size: 25px;
	margin-bottom: 15px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:20px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  color:#e5ddf3 ;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}
@media (max-width:767px) {
  .footer-dark .item {
    margin-bottom:0;
  }
}

.footer-dark .item p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:left;
  padding: 40px 0 10px;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
    padding: 11px 0 10px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social i {
  padding-top: 8px;
}

.footer-dark .item.social > a:hover {
  color: #f3f8fa;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background-color: #003b30;
  min-height: 40px;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 100;
  color: #f0f9ff;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
  color: #f0f9ff;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #ffffff;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  padding-top: 5px;
  padding-bottom: 30px;
  background-color: #121212ee;
}

.team .header{
  padding-top: 25px;
}

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.team1 {
  font-family: "Montserrat", sans-serif;
	color: #1b1b1b;
  font-weight: 100;
}

.team1 h1, .team1 h2, .team1 h3, .team1 h4, .team1 h5, .team1 h6 {
  color: #ffffff;
}

.team1 h6{
  line-height: 22px;
}

.team1 .font-weight-medium {
	font-weight: 500;
  margin: 15px 0 5px 0;
  font-size: 24px;
  color: #fff;
}

.team1 .team-members{
  padding-bottom: 20px;
}

.team1 span{
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 5px;
  color: #03DAC6
}

.team1 p{
  font-size: 14px;
}

.card{
  background-color: #121212ee;
}

.team1 .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

.team1 .pro-pic .teamimg{
  height: 180px;
  width: 180px;
}

.team1 .pro-pic .card-img-overlay {
  background: #0a0119e7;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  display: none;
}

.team1 .pro-pic .card-img-overlay i{
  font-size: 20px;
}

.team1 .pro-pic .card-img-overlay ul {
  top: 50%;
}

.team1 .pro-pic .card-img-overlay ul li a {
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team1 .pro-pic .card-img-overlay ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
}

.team1 .pro-pic:hover .card-img-overlay {
  display: block;
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {
  background-image: url("../img/uncompressed/bg-blue.jpg");
  background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
  position: relative;
  width: 100%;
  padding: 45px 0;
  opacity: 0.95;
}

.blog .section-header {
  margin-bottom: 75px;
}

.blog #blog-flters {
  padding: 0 0 25px;
  margin: 0 0 35px 0;
  list-style: none;
  text-align: center;
}

.blog #blog-flters li {
  cursor: pointer;
  margin: 0 12px 5px 12px;
  display: inline-block;
  padding: 0 4px 6px 4px;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  color: #606060;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid #222222ef;
  font-family: 'Montserrat', sans-serif;
}

.blog #blog-flters li:hover, .blog #blog-flters li.filter-active {
  border-color: #6f7b81;
  color: #03DAC6;
}

.blog .blog-carousel {
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  right: -15px;
}

.blog .blog-item {
  position: relative;
  margin: 0 15px;
}

.blog.blog-page .blog-item {
  margin: -30px 0 0 0;
}

.blog .blog-img {
  position: relative;
  width: 100%;
  z-index: 1;
}

.blog .blog-img img {
  width: 100%;
}

.blog .blog-content {
  position: relative;
  width: calc(100% - 60px);
  top: -60px;
  left: 30px;
  padding: 25px 30px;
  background: #0a0119;
  box-shadow: 0 0 30px rgba(0, 0, 0, .1);
  z-index: 2;
}

.blog .blog-content .blog-title {
  color: #f0f9ff !important;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 1px;
}

.blog .blog-meta {
  position: relative;
  margin-bottom: 15px;
}

.blog .blog-meta * {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 200;
  color: #e0dbdb;
}

.blog .blog-meta i {
  color: #f0f9ff;
  margin: 0 2px 0 10px;
}

.blog .blog-meta i:first-child {
  margin-left: 0;
}

.blog .blog-text {
  position: relative;
}

.blog .blog-text p {
  margin-bottom: 10px;
}

.blog .blog-item a.btn {
  position: relative;
  padding: 0 0 0 35px;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #f0f9ff;
  transition: .3s;
}

.blog .blog-item a.btn:hover {
  color: #092a49;
}

.blog .blog-item a.btn::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  top: 10px;
  left: 0;
  background: #f0f9ff;
}
.search-section {
  padding: 20px 0;
  background:#121212e7;
}

.search-section form input {
  height: 43px;
  padding: 1px 0 1px 20px;
  border: 1px solid #544E5E;
  background: transparent;
  font-size: 16px;
  color: #adadad;
}
.search-section form input::-webkit-input-placeholder {
  color: #adadad;
}
.search-section form input::-moz-placeholder {
  color: #adadad;
}
.search-section form input:-ms-input-placeholder {
  color: #adadad;
}
.search-section form input::-ms-input-placeholder {
  color: #adadad;
}
.search-section form input::placeholder {
  color: #adadad;
}
.search-section form button {
  font-size: 20px;
  padding: 1px;
  color: #ffffff;
  border: 1px solid #003B30;
  height: 44px;
  width: 44px;
  border-radius: 2px;
  background: #003B30;
  line-height: 25px;
  text-align: center;
  position: absolute;
  top: 0;
}

/*---------------------
  Blog Details
-----------------------*/
.blog-details {
  background-image: url("../img/uncompressed/bg-blue.jpg");
  background-repeat: no-repeat;
	background-size: cover;
  background-position: top center;
}
.blog__details__text {
  margin-top: 15px;
  margin-bottom: 30px;
}
.blog__details__text p {
  color: #e5ddf3;
  font-size: 18px;
  line-height: 28px;
  font-weight: 100;
  margin: 10px 20px;
  padding-top: 25px;
}
.blog__details__text p:last-child {
  margin-bottom: 0;
}
.blog__details__desc {
  margin-bottom: 50px;
}

.bold{
  font-size: 20px;
  color: #e5ddf3;
}

.blog__details__desc li{
  color: #ffffff;
  font-size: 18px;
  line-height:35px;
  font-weight: 100;
}
.blog__details__desc p:last-child {
  margin-bottom: 0;
}

.blog__details__tags span {
  display: inline-block;
  font-size: 15px;
  color: #ffffff;
  font-weight: 100;
  margin-right: 25px;
}
.blog__details__tags a {
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
  display: inline-block;
  margin: 10px 20px;
  padding: 8px 15px 7px;
  background: rgba(255, 255, 255, 0.1);
}

/*--------------------------------------------------------------
# Event
--------------------------------------------------------------*/
.event {
  background: #222222ef;
}

.event .event-item {
  background: #000000;
  overflow: hidden;
  min-height: 200px;
  position: relative;
  border-radius: 4px;
  margin: 0 0 30px 0;
}

.event #event-flters {
  padding: 0;
  margin: 0 0 35px 0;
  list-style: none;
  text-align: center;
}

.event #event-flters li {
  cursor: pointer;
  margin: 0 12px 5px 12px;
  display: inline-block;
  padding: 0 4px 6px 4px;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  color: #606060;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid #222222ef;
  font-family: 'Montserrat', sans-serif;
}

.event #event-flters li:hover, .event #event-flters li.filter-active {
  border-color: #6f7b81;
  color: #03DAC6;
}

.event .event-item img {
  transition: all 0.3s ease-in-out;
}

.event .event-item:hover img {
  opacity: 0.8;
  transform: scale(1.1);
}

.event:hover .event-info {
  opacity: 1;
  top: calc(50% - 30px);
}

/*--------------------------------------------------------------
# Event Details
--------------------------------------------------------------*/
.event-details .event-info {
  padding: 30px;
  position: absolute;
  background: #323232;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.event-details .event-info h3 {
  color: #f0f9ff;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  
}

.event-details .event-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
  color: #f0f9ff;
}

.event-details .event-info ul li + li {
  
  margin-top: 10px;
}

.event-details .event-info a{
  color: #fcfcfc;
}

.event-details .event-info a:hover{
  color: #03DAC6;
}

.event-details .event-description {
  padding-top: 50px;
}

.event-details .event-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
}

.event-details .event-description p {
  padding: 0 0 0 0;
}

@media (max-width: 768px) {
  .event-details .event-description h2 {
    width: 100%;
  } 
  .event-details .event-info {
    position: static;
    margin-top: 30px;
  }

  .event-details img{
    width:100%;
  }
}
/*-----------------------------------------------------------------------------------*/
.register-section{
  background-image: url("../img/register_bg.jpeg");
  background-repeat: no-repeat;
	background-size: cover;
  position: relative;
  width: 100%;
  height: fit-content;
  opacity: 0.90;
}

.register h4{
  text-align: center;
  padding-bottom: 10px;
  font-weight: 700;
}

.register-form h6{
  padding-bottom: 10px;
}

.register-form input[type=text], input[type=email] , input[type=password]{
	height: 50px;
	width: 100%;
	border: none;
	font-size: 16px;
	color: #b3b3b3;
	padding-left: 20px;
	background: #393939;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 30px;
}

.register-form input::-webkit-input-placeholder {
	color: #b3b3b3;
}

.register-form input::-moz-placeholder {
	color: #b3b3b3;
}

.register-form input:-ms-input-placeholder {
	color: #b3b3b3;
}

.register-form input::-ms-input-placeholder {
	color: #b3b3b3;
}

.register-form input::placeholder {
	color: #b3b3b3;
}

.register-form input:focus {
	background: #c5c5c5;
	color: #0d0a27;
}

.register-form input:focus::-webkit-input-placeholder {
	color: #0d0a27;
}

.register-form input:focus::-moz-placeholder {
	color: #0d0a27;
}

.register-form input:focus::-ms-input-placeholder {
	color: #0d0a27;
}

.register-form input:focus::placeholder {
	color: #0d0a27;
}
/*-----------------------------------------------------------------------------------*/

.new-edit-form {
  background-image: url("../img/uncompressed/bg-blue.jpg");
  background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
  position: relative;
  width: 100%;
  padding: 45px 0;
  opacity: 0.95;
}

.new-edit-form input[type=text],input[type=email],input[type=password],input[type=number],input[type=date],input[type=time],input[type=file]{
	height: 50px;
	width: 100%;
	border: none;
	font-size: 16px;
	color: #b3b3b3;
	padding-left: 20px;
	background: #393939;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 30px;
}

.new-edit-form input::-webkit-input-placeholder {
	color: #b3b3b3;
}

.new-edit-form input::-moz-placeholder {
	color: #b3b3b3;
}

.new-edit-form input:-ms-input-placeholder {
	color: #b3b3b3;
}

.new-edit-form input::-ms-input-placeholder {
	color: #b3b3b3;
}

.new-edit-form input::placeholder {
	color: #b3b3b3;
}

.new-edit-form input:focus {
	background: #c5c5c5;
	color: #0d0a27;
}

.new-edit-form input:focus::-webkit-input-placeholder {
	color: #0d0a27;
}

.new-edit-form input:focus::-moz-placeholder {
	color: #0d0a27;
}

.new-edit-form input:focus::-ms-input-placeholder {
	color: #0d0a27;
}

.new-edit-form input:focus::placeholder {
	color: #0d0a27;
}

.new-edit-form textarea {
	width: 100%;
	border: none;
	font-size: 16px;
	color: #b3b3b3;
	padding-left: 20px;
	background: #393939;
	height: 200px;
	padding-top: 12px;
	resize: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 45px;
}

.new-edit-form textarea::-webkit-input-placeholder {
	color: #b3b3b3;
}

.new-edit-form textarea::-moz-placeholder {
	color: #b3b3b3;
}

.new-edit-form textarea:-ms-input-placeholder {
	color: #b3b3b3;
}

.new-edit-form textarea::-ms-input-placeholder {
	color: #b3b3b3;
}

.new-edit-form textarea::placeholder {
	color: #b3b3b3;
}

.new-edit-form textarea:focus {
	background: #c5c5c5;
	color: #0d0a27;
}

.new-edit-form textarea:focus::-webkit-input-placeholder {
	color: #0d0a27;
}

.new-edit-form textarea:focus::-moz-placeholder {
	color: #0d0a27;
}

.new-edit-form textarea:focus:-ms-input-placeholder {
	color: #0d0a27;
}

.new-edit-form textarea:focus::-ms-input-placeholder {
	color: #0d0a27;
}

.new-edit-form textarea:focus::placeholder {
	color: #0d0a27;
}

.new-edit-form select {
	height: 50px;
	width: 100%;
	border: none;
	font-size: 16px;
	color: #b3b3b3;
	padding-left: 20px;
	background: #393939;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 30px;
}

.new-edit-form select::-webkit-input-placeholder {
	color: #b3b3b3;
}

.new-edit-form select::-moz-placeholder {
	color: #b3b3b3;
}

.new-edit-form select:-ms-input-placeholder {
	color: #b3b3b3;
}

.new-edit-form select::-ms-input-placeholder {
	color: #b3b3b3;
}

.new-edit-form select::placeholder {
	color: #b3b3b3;
}

.new-edit-form select:focus {
	background: #ffffff;
	color: #0d0a27;
}

.new-edit-form select:focus::-webkit-input-placeholder {
	color: #0d0a27;
}

.new-edit-form select:focus::-moz-placeholder {
	color: #0d0a27;
}

.new-edit-form select:focus:-ms-input-placeholder {
	color: #0d0a27;
}

.new-edit-form select:focus::-ms-input-placeholder {
	color: #0d0a27;
}

.new-edit-form select:focus::placeholder {
	color: #0d0a27;
}


/*-----------------------------------------------------------------------------------------------------------*/

.apply-form {
  background-image: url("../img/uncompressed/bg-blue.jpg");
  background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
  position: relative;
  width: 100%;
  padding: 45px 0;
  opacity: 0.95;
}

.apply-form input[type=text],input[type=email],input[type=number],input[type=tel]{
	height: 50px;
	width: 100%;
	border: none;
	font-size: 16px;
	color: #b3b3b3;
	padding-left: 20px;
	background: #393939;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 30px;
}

.apply-form input::-webkit-input-placeholder {
	color: #b3b3b3;
}

.apply-form input::-moz-placeholder {
	color: #b3b3b3;
}

.apply-form input:-ms-input-placeholder {
	color: #b3b3b3;
}

.apply-form input::-ms-input-placeholder {
	color: #b3b3b3;
}

.apply-form input::placeholder {
	color: #b3b3b3;
}

.apply-form input:focus {
	background: #c5c5c5;
	color: #0d0a27;
}

.apply-form input:focus::-webkit-input-placeholder {
	color: #0d0a27;
}

.apply-form input:focus::-moz-placeholder {
	color: #0d0a27;
}

.apply-form input:focus::-ms-input-placeholder {
	color: #0d0a27;
}

.apply-form input:focus::placeholder {
	color: #0d0a27;
}

.apply-form textarea {
	width: 100%;
	border: none;
	font-size: 16px;
	color: #b3b3b3;
	padding-left: 20px;
	background: #393939;
	height: 200px;
	padding-top: 12px;
	resize: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 45px;
}

.apply-form textarea::-webkit-input-placeholder {
	color: #b3b3b3;
}

.apply-form textarea::-moz-placeholder {
	color: #b3b3b3;
}

.apply-form textarea:-ms-input-placeholder {
	color: #b3b3b3;
}

.apply-form textarea::-ms-input-placeholder {
	color: #b3b3b3;
}

.apply-form textarea::placeholder {
	color: #b3b3b3;
}

.apply-form textarea:focus {
	background: #c5c5c5;
	color: #0d0a27;
}

.apply-form textarea:focus::-webkit-input-placeholder {
	color: #0d0a27;
}

.apply-form textarea:focus::-moz-placeholder {
	color: #0d0a27;
}

.apply-form textarea:focus:-ms-input-placeholder {
	color: #0d0a27;
}

.apply-form textarea:focus::-ms-input-placeholder {
	color: #0d0a27;
}

.apply-form textarea:focus::placeholder {
	color: #0d0a27;
}

.apply-form select {
	height: 50px;
	width: 100%;
	border: none;
	font-size: 16px;
	color: #b3b3b3;
	padding-left: 20px;
	background: #393939;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 30px;
}

.apply-form select::-webkit-input-placeholder {
	color: #b3b3b3;
}

.apply-form select::-moz-placeholder {
	color: #b3b3b3;
}

.apply-form select:-ms-input-placeholder {
	color: #b3b3b3;
}

.apply-form select::-ms-input-placeholder {
	color: #b3b3b3;
}

.apply-form select::placeholder {
	color: #b3b3b3;
}

.apply-form select:focus {
	background: #ffffff;
	color: #0d0a27;
}

.apply-form select:focus::-webkit-input-placeholder {
	color: #0d0a27;
}

.apply-form select:focus::-moz-placeholder {
	color: #0d0a27;
}

.apply-form select:focus:-ms-input-placeholder {
	color: #0d0a27;
}

.apply-form select:focus::-ms-input-placeholder {
	color: #0d0a27;
}

.apply-form select:focus::placeholder {
	color: #0d0a27;
}

.feedback{
  background-image: url("../img/uncompressed/bg-blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  width: 100%;
  padding: 70px 0;
  opacity: 0.95;
}

.feedback h2{
  color: #ffffff;
}

/*--------------------------------------------------------------------------------------------------*/

.login-form input[type=text]{
	height: 50px;
	width: 100%;
	border: none;
	font-size: 16px;
	color: #b3b3b3;
	padding-left: 20px;
	background: #393939;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
  margin-top: 15px;
	margin-bottom: 30px;
}

.login-form input[type=password]{
	height: 50px;
	width: 100%;
	border: none;
	font-size: 16px;
	color: #b3b3b3;
	padding-left: 20px;
	background: #393939;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 3px;
}

.login-form input::-webkit-input-placeholder {
	color: #b3b3b3;
}

.login-form input::-moz-placeholder {
	color: #b3b3b3;
}

.login-form input:-ms-input-placeholder {
	color: #b3b3b3;
}

.login-form input::-ms-input-placeholder {
	color: #b3b3b3;
}

.login-form input::placeholder {
	color: #b3b3b3;
}

.login-form input:focus {
	background: #c5c5c5;
	color: #0d0a27;
}

.login-form input:focus::-webkit-input-placeholder {
	color: #0d0a27;
}

.login-form input:focus::-moz-placeholder {
	color: #0d0a27;
}

.login-form input:focus::-ms-input-placeholder {
	color: #0d0a27;
}

.login-form input:focus::placeholder {
	color: #0d0a27;
}

.login-form a{
  color: #f3f8fa;
  padding-bottom: 15px;
}
.login-form .links{
  display: inline-grid;
}

/*--------------------------------------------------------------------------------------------------*/

.newsletter {
  background: #222222ef;
}

.newsletter .newsletter-item {
  background: #0a0119;
  overflow: hidden;
  min-height: 200px;
  position: relative;
  border-radius: 4px;
  margin: 0 0 30px 0;
}

.newsletter .newsletter-item img {
  transition: all 0.3s ease-in-out;
}

.newsletter .newsletter-item .newsletter-info {
  opacity: 0;
  position: absolute;
  transition: all .3s linear;
  text-align: center;
  top: 10%;
  left: 0;
  right: 0;
}

.newsletter .newsletter-item .newsletter-info h3 {
  font-size: 22px;
}

.newsletter .newsletter-item .newsletter-info h3 a {
  color: #fff;
  font-weight: 300;
}

.newsletter .newsletter-item .newsletter-info a i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 28px;
  transition: 0.3s;
}

.newsletter .newsletter-item .newsletter-info a i:hover {
  color: rgb(255, 255, 255);
}

.newsletter .newsletter-item:hover img {
  opacity: 0.4;
  transform: scale(1.1);
}

.newsletter:hover .newsletter-info {
  opacity: 1;
  top: calc(50% - 30px);
}

.newsletter .section-title form {
  padding-top: 15px;
  position: relative;
}
.newsletter .section-title form input {
  border-radius: 2px;
  height: 50px;
  width: 45%;
  padding-left: 20px;
  border: 1px solid #544E5E;
  background: transparent;
  font-size: 16px;
  color: #adadad;
}

.newsletter .section-title form input::-webkit-input-placeholder {
  color: #adadad;
}
.newsletter .section-title form input::-moz-placeholder {
  color: #adadad;
}
.newsletter .section-title form input:-ms-input-placeholder {
  color: #adadad;
}
.newsletter .section-title form input::-ms-input-placeholder {
  color: #adadad;
}
.newsletter .section-title form input::placeholder {
  color: #adadad;
}
.newsletter .section-title form button {
  font-size: 20px;
  color: #ffffff;
  border: none;
  height: 50.5px;
  width: 52px;
  border-radius: 2px;
  background: #003B30;
  line-height: 50px;
  text-align: center;
  position: relative;
  right: 10px;
  top: 2px;
}

#accordion .panel {
  border-radius: 0;
  border: 0;
  margin-top: 0px;
}
#accordion a {
  display: block;
  padding: 10px 15px;
  border-top: 1px solid #003B30;
  text-decoration: none;
}
#accordion .panel-heading a.collapsed:hover,
#accordion .panel-heading a.collapsed:focus {
  background-color: #003B30;
  color: white;
  transition: all 0.2s ease-in;
}
#accordion .panel-heading a.collapsed:hover::before,
#accordion .panel-heading a.collapsed:focus::before {
  color: white;
}

#accordion .panel-heading {
  padding: 0;
  border-radius: 0px;
  text-align: center;
}

@media(max-width:767px){
  #accordion .panel-heading{
    text-align: left;
  }
}

#accordion .panel-heading a:not(.collapsed) {
  color: white;
  transition: all 0.2s ease-in;
}

#accordion .panel-body{
  padding-bottom: 20px;
}

#accordion .panel-body li{
  color:#e5ddf3;
  list-style: none;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

/* Add Indicator fontawesome icon to the left */
#accordion .panel-heading .accordion-toggle::before {
  font-family: 'FontAwesome';
  content: '\f106';
  float: right;
  color: white;
  font-weight: lighter;
  transform: rotate(0deg);
  transition: all 0.2s ease-in;
}
#accordion .panel-heading .accordion-toggle.collapsed::before {
  color: #444;
  transform: rotate(180deg);
  transition: all 0.2s ease-in;
}
