<% layout('layouts/boilerplate')%>

<section class="new-edit-form spade" id="new-edit-form">
    <div class="container mt-5">
      <div class="section-title">
        <h2>Create New Post</h2>
      </div>
      <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
          <form action="/posts" method="post" role="form" class="credit-form" enctype="multipart/form-data" novalidate>
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Authors Name" required/>
                <div class="invalid-feedback">
                  Please Enter the Authors Name
                </div>
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="title" id="title" placeholder="Projects Title" required/>
                <div class="invalid-feedback">
                  It wont look good without a title.
                </div>
              </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="number" name="students" class="form-control" id="students" placeholder="No. of Students" min="0" equired/>
                  <div class="invalid-feedback">
                    How many helping hands do you need?
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="date" class="form-control" name="endDate" id="endDate" placeholder="Last Date to Apply" required/>
                  <div class="invalid-feedback">
                    Please enter a date.
                  </div>
                </div>
            </div>       
            <div class="form-group">
              <input type="file" class="form-control form-control-lg" name="image" id="image" placeholder="Image URL" required/>
              <div class="invalid-feedback">
                Image makes it look better  
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="skills" id="skills" placeholder="Skills Required" required/>
              <div class="invalid-feedback">
                What skills aare required?
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="descIntro" rows="4" placeholder="Introduction" required></textarea>
              <div class="invalid-feedback">
                Give it an Introduction.
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="desc" rows="8" placeholder="Description" required></textarea>
              <div class="invalid-feedback">
                Tell them something about the project.
              </div>
            </div>
            <div class="text-center"><button type="submit"  class="site-btn">Create Post</button></div>
          </form>
          <a href="/posts" class="site-btn-2">Go Back</a>
        </div>
        <div class="col-lg-3">
        </div>

      </div>
    </div>
</section>
