<% layout('layouts/boilerplate')%>

<main id="main">
<section class="feedback spad">
    <div class="container">
      <div class="row">
          <div class="col-lg-12"><h2>Email sent</h2></div>
          <div class="col-lg-12">
              <p>
                  Your feedback/suggestion has been submitted to Research Society.
                  <br> 
                  Someone will surely contact you.
              </p>
              <p>Thank you!</p>
              <p>Have a look at our <a href="/posts">Projects</a> and <a href="/events">Events</a>.<br>Do apply/register for them!</p> 
              <p>Have a good day!</p>
          </div>  
      </div><!-- End .row -->
    </div><!-- End .container -->
  </section>
</main>