<% layout('layouts/boilerplate')%>

<main id="main">
<section class="blog" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">
      <div class="row">
          <div class="col-lg-12"><h2>Email sent</h2></div>
          <div class="col-lg-12">
              <p>
                  Your feedback/suggestion has been submitted to Research Society.<br> Someone will surely contact you.
              </p>
              <p>Thank you!</p>
              <p>Have a look through our <a href="/posts">Projects</a> and <a href="/events">Events</a>.Do apply/register for them ! <br> Have a good day!</p>
          </div>  
      </div><!-- End .row -->
    </div><!-- End .container -->
  </section>
</main>